
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {

    padding: 0;
    margin: 0;
}

a:-webkit-any-link {

    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#intro {

    /* text-align: center; */
}

#intro-background {

    height: 60vh;
    /* width: vw; */
}

#intro-cover {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#intro-cover div {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#intro-cover div h1, #intro-cover div ul {

    color: rgba(250, 250, 250, 0.8);
    font-family: 'Open Sans', sans-serif;
}

.intro-navbar-item {

    list-style-type: none;
    text-decoration: none;
    color: inherit;

    font-size: 1.8rem;
    padding-top: 30px;
    width: min-content;
}

.intro-navbar-item a {

    border-bottom: 1px solid #02f5b460;
    padding-bottom: 3px;

    transition: all 0.3s ease-in;
}

.intro-navbar-item a:visited {

    color: inherit;
}

.intro-navbar-item a:hover {

    padding-bottom: 8px;
    outline: none;

    border-bottom: 1px solid #02f5b4;
    box-shadow: 0 10px 15px -10px #02f5b4;
}

.intro-navbar-item span img {

    width: 20px;
    margin-right: 10px;
}

.intro-navbar-item span {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.intro-heading {

    font-size: 4rem;
    font-weight: 200;
}

.intro-primary-navbar {

    list-style-type: none;
    position: absolute;
    top: 45vh;
    left: 6.5vw;
}

.intro-primary-navbar li {

    display: inline;
    padding-right: 60px;

    font-size: 1.5rem;
}

.intro-primary-navbar li a {

    border-bottom: 1px solid transparent;
    padding-bottom: 5px;    

    transition: all 0.5s ease-in;
}

.intro-primary-navbar li a:hover {

    color: white;
    border-bottom: 1px solid #02f5b4;
    box-shadow: 0 5px 10px -5px #02f5b4;
}

.intro-primary-navbar:visited {

    color: inherit;
}