
* {

    padding: 0;
    margin: 0;
}

#intro {

    text-align: center;
}

#intro-background {

    height: 60vh;
    /* width: vw; */
}

#intro-cover {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#intro-cover h1 {

    color: white;
}